@{
    ViewBag.Title = "Access blocked";
}

<form>
    <fieldset>
        <legend>
            Blocked<span>
    Login to your account is blocked for 5 minutes. Try again later</span>
        </legend>
    </fieldset>
</form>

