@{
    ViewBag.Title = "MakeIt";
}

<div class="panel-body">
    <form>
        <fieldset>
            <h3>
                Password recovery
            </h3>
            <div class="form-group">
                <span>
                    An e-mail with a confirmation code has been sent to you. To recover the password, follow the link in the letter.
                </span>
            </div>
            <span>Message sent to mail:</span>
            <span><a href="mailto:@ViewBag.Email">@ViewBag.Email</a></span>
        </fieldset>
    </form>
</div>
