@{
    ViewBag.Title = "Email подтвержден";
}

<div class="checkForm confirmEmail">
    <div class="headerSmallScreen">
        <a href='@Url.Action("Index", "StartPage")'>
            <img src='@Url.Content("~/Content/img/logo.png")' alt="logo" />
        </a>
    </div>


    <form>
        <fieldset>
            <legend>
                Email подтвержден<span>
                    Вы удачно подтвердили вашу электронную почту. Теперь вы можете
                    войти в кабинет
                </span>
            </legend>
            <div class="checkFormWrapBtn">
                @Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "fullBg btn"})
            </div>
        </fieldset>
    </form>
</div>
