@{
    ViewBag.Title = "Пароль изменен";
}

<div class="checkForm confirmEmail">

    <div class="headerSmallScreen">
        <a href='@Url.Action("Index", "StartPage")'>
            <img src='@Url.Content("~/Content/img/logo.png")' alt="logo" />
        </a>
    </div>

    <form>
        <fieldset>
            <legend>
                Пароль изменен<span>
                    Вы удачно изменили пароль. Теперь вы можете
                    войти в кабинет
                </span>
            </legend>
            <div class="checkFormWrapBtn">
                @Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "fullBg btn" })
            </div>
        </fieldset>
    </form>

</div>
